/cleaned_dataset_part1.csv
/cleaned_dataset_part2.csv
/cleaned_dataset_part3.csv
/cleaned_dataset_part4.csv
/cleaned_dataset_part5.csv
/cleaned_dataset_part6.csv
/cleaned_dataset_part7.csv
/cleaned_dataset_part8.csv
/images
/images_2
/images_3
/images_4
/images_5
/images_6
/images_7
/images_8